/* Scroll bar */
* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}

/* Loading animation */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wave {
  width: 5px;
  height: 40px;
  margin: 5px;
  animation: wave 1s linear infinite alternate;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}

@keyframes wave {
  0% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.2);
  }
}

/* React OTP input */
.hide-border input {
  border: none;
  width: 2.5rem !important;
  height: 2.5rem !important;
  padding: 5px;
  border-radius: 4px;
  margin-right: 10px !important;
}

.change-bg input {
  background-color: #f4f4f4;
}
